<button ng-hide="show" ng-click="toggle()" class="btn btn-primary">Mostrar comentarios <span class="badge">{{comments.length}}</span></button>
<div ng-show="show" class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Comentarios <button ng-click="toggle()" class="close pull-right">&times;</button></h1>
  </div>
  <div class="panel-body">
    <form name="commentsForm" class="form-horizontal" role="form" ng-submit="commentsForm.$valid && addComment()" novalidate>
      <div class="form-group">
        <div class="col-sm-6">
          <textarea ng-model="comment.body" placeholder="Por favor díganos que piensa del partido de la jornada {{jornada}}" class="form-control" required></textarea>
        </div>
        <div class="col-sm-4">
          <input ng-model="comment.email" ng-disabled="comment.anonymous" type="email" placeholder="Introduzca su email" class="form-control" ng-required="!comment.anonymous">
          <label>
            <input ng-model="comment.anonymous" ng-change="anonymousChanged()" type="checkbox">
            Anónimo
          </label>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-lg">Comentar</button>
        </div>
      </div>
    </form>
    <div ng-if="!commentsForm.$valid" class="alert alert-danger">Formulario inválido</div>
    <blockquote ng-repeat="comment in comments">
      <p>{{comment.body}}</p>
      <footer>
        Comentado por 
        <a ng-if="!comment.anonymous" href="mailto:{{comment.email}}">{{comment.email}}</a> 
        <em ng-if="comment.anonymous">Anónimo</em>
        el <span>{{comment.date | date : 'medium'}}</span>
      </footer>
    </blockquote>
  </div>
</div>